<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <div class="header">
    <%= require("html-loader!../common/header/index.html") %>
    <div class="header-div-bottom"></div>
  </div>

  
  <div class="bg-wrap bg">
    <div class="main-sub">
      <a href="">在线选购</a>
      <span>，享受免费送货、Specialist 专家支持、免息分期等服务。</span>
    </div>
    <div class="main-container">
  
      <section class="homepage-one">
        <img src="/img/holiday20_logo__d30164gkaqye_large.png" alt="">
        <h1 class="home-text">
          心意派送，祝新一年牛上加牛。
        </h1>
        <a href="">选购新春好礼 ></a>
      </section>
    </div>

  </div>
  


  <!-- 引入公共页尾 -->
  <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>